
.container {
    background-color: orange;  
    max-width: 400px;         
  }
  
  /* Colori per ogni parola */
  .color1 {
    color: red;
  }
  
  .color2 {
    color: blue;
  }
  
  .color3 {
    color: green;
  }
  
  .color4 {
    color: yellow;
  }
  
  